blinker==1.8.2
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
Flask==3.0.3
gunicorn==23.0.0
idna==3.8
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pluggy==1.5.0
prometheus_client==0.20.0
prometheus_flask_exporter==0.23.1
pycparser==2.22
pytest==8.2.2
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.0.1
urllib3==2.2.2
Werkzeug==3.0.3
